<!DOCTYPE html>
<html>

<head>
    <title>ZOHO : Display</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="ZOHO" />     
	<link rel="stylesheet" href="../static/display.css" type="text/css" media="all" />
<body>
		<h1 class="text-center" style="margin-top: 100px;">Contact Details</h1>
		<p class="text-center">Add Contacts</p>
   <section class="form-26">
         <div class="form-26-mian">
				<div class="layer">
			<div class="wrapper">
			<div class="form-inner-cont">
					
					<div class="form-right-inf"> 
							<form action="#" method="post" class="signin-form">	
							 <div class="forms-gds">
								<div  class="form-input">
									<input type="text" name="" placeholder="Name" required />
								</div>
								<div  class="form-input">
									<input type="text" name="" placeholder="Ph No" required />
								</div>
								<div  class="form-input">
                                    <input type="email" name="" placeholder="Email" required />
							</div>
                            <div  class="form-input"><button class="btn">Save Details</button></div>

						</form>
                        
						
                    </div>
                    
                </div>
                
			
			</div>
		</div>
		    </div>
            
		</section>
</body>
</html>