{% extends "main.html" %}
{% block title %}
<title>login</title>
{% endblock title %}
{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
    <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
      <strong>Message : </strong> {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<h1 class="text-center" style="margin-top: 30px;">login Page</h1>
<form method="post" action="/login">
    <div class="my-4">
      <label for="exampleInputEmail1" class="form-label" >Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" name="email">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock body %}