{% extends "main.html" %}
{% block title %}
<title>Home</title>
{% endblock title %}
{% block body %}
<h1 class="text-center" style="margin-top: 30px;">Register Page</h1>
<form class="my-4" method="POST" action="/register">
    <div class="my-4">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email ID" name="email">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name = password>
    </div>
    <div class="mb-3">
        <label for="Secretkey" class="form-label">Secret Key</label>
        <input type="text" class="form-control" id="Secretkey" placeholder="Secret Key" name="secretkey">
      </div>
    
    <button type="submit" class="btn btn-primary" >Sign UP</button>
  </form>{% endblock body %}